@charset "utf-8";

body {background-image: linear-gradient(to right,#0c0cc2,#4d4df1,yellow);
      background-attachment: fixed;
      overflow-x: hidden;
      font-family: Arial, Helvetica, sans-serif;}

h1 {font-family: dancing script, cursive;}

p {font-size: 1.2em;}

li {font-size: 1.2em;}

.cor1 {background-color: #0000ff;}
.cor2 {background-color: #000097; color: white;}
.cor3 {background-color: #000036; color: white;}

.linhac1:hover {background-color: #0000ff;}
.linhac2:hover {background-color: #000097; color: white;}
.linhac3:hover {background-color: #000036; color: white;}

caption {background-color: #f5f59e;
         padding: 10px;
         font-weight: bolder;
         max-width: 806px;
         border: 2px solid black;
         border-bottom: none;
         font-family: Arial, Helvetica, sans-serif;}

table {border: 2px solid black;
       margin: auto;
       background-color: bisque;
       border-collapse: collapse;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       width: 100%; max-width: 830px;}

.table1 {position: relative;}

thead {position: sticky;
       top: -1px;
       background-color: #fff;}

@media (max-width: 320px){#container{overflow-x: auto;}}

.filmes {height: 20px; 
         background-color: red; color: white;}

.total {width: 50px;}

td {border: 2px solid black;
    vertical-align: middle; 
    text-align: center;
    padding: 10px;}

th {font-weight: lighter;
    padding: 10px;
    border: 2px solid black;}

tr {height: 80px;}

thead, tfoot {background-color: red;
              color: white;}

tr:nth-child(2n){background-color: #aaa8a8;}